  <body>
    <header>
    <% if (user) { %>
      <h4>You are Logged in, <%= user.name %>
        <form method = 'POST' action = "/logout">
          <button>Log out</button>
        </form>
      </h4>
      <% } else { %>
        <p>
          <a href='/login'><button>Login</button></a>
          <a href='/register'><button>Register</button></a>
        </p>
      <% } %>
    </header>
  </body>

</html>