  <body>
    <header>
    <% if(user_id) { %>
      <h2>You are Logged in, <%= user_id %></h2>
      <form method = 'POST' action = "/logout">
        <p>
          <button>Log out</button>
        </p>
      </form>
      <% } else { %>
      <p>
        <a href='/login'><button>Login</button></a>
        <a href='/register'><button>Register</button></a>
      </p>
      <% } %>
    </header>
  </body>

</html>