  <body>
    <header>
    <% if(username) { %>
      <h2><%= username %></h2>
      <form method = 'POST' action = "/logout">
        <p>
          <button>Log out</button>
        </p>
      </form>
      <% } else { %>
      <form method = 'POST' action = "/login">
        <p>
          <input name = "username">
          <button>Login</button>
        </p>
      </form>
      <% } %>
    </header>
  </body>

</html>