<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Login </title>
  </head>

  <body>
    <h1> Please login. </h1>
    <h3>
      <ul>
          <form method = "POST" action ='/login'>
            <p>
              <label> Email Address: </label>
              <input name = "email" type = "email">
            </p>
            <p>
              <label> Password: </label>
              <input name = "password" type = "password">
            </p>
            <p>
              <button>Login</button>
            </p>
          </form>
      </ul>
    </h3>
</html>