<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Sign up </title>
  </head>

  <body>
    <h1> Sign up </h1>
    <h3>
      <ul>
          <form method = "POST" action ='/register'>
            <p>
              <label> User Name: </label>
              <input name = "name" type = "name">
            </p>
            <p>
              <label> Email Address </label>
              <input name = "email" type = "email">
            </p>
            <p>
              <label> Password </label>
              <input name = "password" type = "password">
            </p>
            <p>
              <button>Submit</button>
            </p>
          </form>
      </ul>
    </h3>
</html>